@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Yeseva+One|Lato|Gentium+Book+Basic:700);

body{
	font: 400 16px/1.5 'Lato', sans-serif;
	color: #4c4c4c;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	line-height: 55px;
	background-color: rgba(255, 255, 255, 0.28);
	border: 1px solid #fff;
	padding: 0 51px;
	min-height: 57px;
	text-decoration: none;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background-color:  rgba(0, 0, 0, 0.7);
	border-color: #000;
}
input[type="submit"]:active,
input[type="button"]:active,
button:active,
.ba-button:active{
	position: relative;
	top: 1px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}
.ba-section {
	padding: 100px 0;
}
.ba-intro {
	background: url(../img/intro_bg.jpg) 50% no-repeat;
	background-size: cover;
}
.ba-header {
	position: fixed;
	background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
	width: 100%;
}
.ba-logo {
	margin: 2px 0 10px;
}
.ba-header__social {
	line-height: 110px;
}
.ba-header__social a{
	color: #dab33e;
	font-size: 21px;
	margin-left: 14px;
}
.ba-header__social a:hover {
	color: #FAE931;
}
.ba-header__social a:first-child {
	margin-left: 0;
}
.ba-nav {
	list-style: none;
	margin: 0;
	margin-right: 20px;
	padding: 0;
}
.ba-nav li {
	display: inline-block;
	margin-left: 48px;
}
.ba-nav li:first-child {
	margin: 0;
}

.ba-nav a {
	font-family: 'Gentium Book Basic', sans-serif;;
	color:  #ffffff;
	font-size: 21px;
	line-height: 110px;
	font-weight: 700;
	text-decoration: none;
	display: block;
	position: relative;
}
.ba-nav a:before {
	display: block;
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: rgba(255,255,255,.7);
	opacity: 0;
	transition: opacity .3s ease-in;
}
.ba-nav a:hover:before {
	opacity: 1;
}
@media (max-width: 959px) {
	.ba-nav {
		display: none;
	}
}
.ba-intro-content {
	padding: 205px 0 145px;
}
.ba-button--intro {
	margin: 34px 15px 0;
}

.ba-intro__title {
	font-family: 'Yeseva One', sans-serif;
	color: #ffffff;
	font-size: 90px;
	line-height: 1.35;
	font-weight: 400;
	text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
	max-width: 970px;
	margin: 0 auto;
	padding-bottom: 64px;
	background: url(../img/intro_decoration.png) 50% 100% no-repeat;
}
@media (max-width: 767px) {
	.ba-intro__title {
		font-size: 70px;
	}
}
@media (max-width: 479px) {
	.ba-intro__title {
		font-size: 40px;
	}
}
.ba-about {
	background:
	 linear-gradient(-45deg, rgba(0,0,0,.15), transparent),
	 url(../img/about_bg.jpg) 50% no-repeat;
	background-size: auto, cover;
	box-shadow: 0px 0px 50px 0px rgba(1, 1, 1, 0.14) inset;
	padding: 50px 0 14px;
}
.ba-about__text {
	padding: 20px 0 100px 62px;
	width: 43%;
}
.ba-about__title {
	font-family: 'Yeseva One', sans-serif;
	color: #cc9900;
	font-size: 36px;
	font-weight: 400;
	line-height: 1;
	padding-bottom: 40px;
	background: url(../img/about-decor.png) 50% 100% no-repeat;
	margin-bottom: 25px;
}
.ba-about__text p {
	max-width: 430px;
	margin: 0 auto;
}
.ba-about__img {
	display: inline-block;
	margin-left: 70px;
	margin-top: 49px;
}
.ba-about-img {
	width: 52%;
	margin-left: 20px;
}

@media (max-width: 767px) {
	.ba-about__text,
	.ba-about-img {
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
	}
}
.ba-ingredients {
	background: url(../img/ingredients_bg.jpg) 50% no-repeat;
	background-size: cover;
}
.ba-ingredients-text {
	max-width: 570px;
	color:  #ffffff;
	background: rgba(0, 0, 0, .67);
	padding: 70px 78px;
}
.ba-ingredients-text__title {
	font-family: 'Yeseva One', sans-serif;
	font-size: 36px;
	font-weight: 400;
	padding-bottom: 33px;
	background: url(../img/igr_devider.png) 50% 100% no-repeat;
	margin: 0;
}
.ba-ingredients p {
	max-width: 430px;
	margin: 25px 0 68px;
}
.ba-ingredients-text__img {
	margin: 0 10px;
}
@media (max-width: 479px) {
	.ba-ingredients-text {
		padding: 10px 18px;
	}
}

.ba-menu {
	background:
	 linear-gradient(135deg, rgba(32,90,91,.15), transparent),
	 url(../img/menu_bg.jpg) 50% no-repeat;
	background-size: auto, cover;
	box-shadow: 0px 0px 50px 0px rgba(1, 1, 1, 0.14) inset;
	padding-bottom: 75px;
}
.ba-menu-cat {
	max-width: 458px;
	margin-left: 54px;
}
.ba-menu-cat + .ba-menu-cat {
	margin-top: 47px;
}
.ba-menu-cat__title {
	font-family: "Yeseva One", sans-serif;
	color: #cc9900;
	font-size: 36px;
	font-weight: 400;
	line-height: 1;
	padding-bottom: 40px;
	background: url(../img/menu_dev.png) 50% 100% no-repeat;
	margin: 0;
}
.ba-menu-cat__list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ba-menu-cat__list > li {
	margin-top: 13px;
	padding: 6px 14px 3px;
}
.ba-menu-cat__list > li:first-child {
	padding-top: 14px;
}
.ba-menu-cat__special {
	border: 1px solid rgba(200, 159, 45, .3);
	position: relative;
	margin-top: 22px;
}
.ba-menu-cat__special:before {
	content: 'Special';
	display: block;
	position: absolute;
	top: -22px;
	right: -1px;
	text-align: center;
	background-color: rgba(200, 159, 45, .7);
	color: #f8fafa;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	width: 69px;
}

.ba-menu-cat__list p {
	margin-bottom: 13px;
	margin-top: 8px;
}
.ba-menu-cat__headline {
	border-bottom: 1px solid rgba(200, 159, 45, .3);
	padding-bottom: 9px;
	font-family: "Yeseva One", sans-serif;
	color: #c89f2d;
	font-size: 21px;
	line-height: 1.14;
}
.ba-menu-cat__name {
	margin: 0;
	float: left;
	font-weight: 400;
}
.ba-menu-cat__price {
	float: right;
}
@media (max-width: 979px) {
	.ba-menu-cat {
		margin-left: 0;
	}
}
@media (max-width: 767px) {
	.ba-menu-cat {
		max-width: 100%;
	}
}


.ba-reviews {
	background: url(../img/reviews_bg.jpg) 50% no-repeat;
	background-size: cover;
}
.ba-reviews-text {
	max-width: 770px;
	margin: 0 auto;
	padding: 48px 70px 90px;
	background: rgba(0, 0, 0, .7);
	color: #dee0e0;
	font: 700 25px/1.8 'Gentium Book Basic', sans-serif;;
}

.ba-reviews-text__title {
	font: 400 36px/1 'Yeseva One', sans-serif;
	color: #ffffff;
	padding-bottom: 43px;
	background: url(../img/reviews_div.png) 50% 100% no-repeat;
	margin-bottom: 18px;
}
.ba-reviews-text  p {
	margin: 0;
}
.ba-reviews-text__quote {
	position: relative;
}
.ba-reviews-text__quote:before {
	content: '';
	height: 25px;
	width: 32px;
	position: absolute;
	left: -55px;
	top: -15px;
	background: url(../img/quote.png) no-repeat;
}

.ba-reviews-text__quote:after {
	content: '';
}
.ba-reviews-text cite {
	font-style: normal;
	font: 18px/2.5 Lato, sans-serif;
	color:  #ffffff;
	display: block;
	margin-top: 21px;
}
@media(max-width: 767px) {
	.ba-reviews-text {
		padding: 18px 20px 40px;
	}
}

.ba-reserv {
	background:
	linear-gradient(-45deg, rgba(0,0,0,.15), transparent),
	url(../img/reserv-bg.jpg) 50% no-repeat;
	background-size: auto, cover;
	box-shadow: 0px 0px 50px 0px rgba(1, 1, 1, 0.14) inset;
}
.ba-reserv__text {
	max-width: 430px;
	margin-left: 70px;
}
.ba-reserv__title {
	margin: 0 0 25px 0;
	font: 400 36px/1 'Yeseva One', sans-serif;
	color: #cc9900;
	padding-bottom: 43px;
	background: url(../img/reserv_div.png) 50% 100% no-repeat;
}
.ba-reserv p {
	margin: 10px 0;
}
.ba-reserv-form {
	margin-top: 35px;
	font: 700 14px 'Open Sans', sans-serif;
	color: #c9a131;
}
.ba-reserv-form ::-webkit-input-placeholder {
	color:  #7c7c7c;
	font-style: italic;
}
.ba-reserv-form label {
	text-align: left;
	display: block;
}
.ba-reserv-form__field {
	padding: 0 13px;
	line-height: 34px;
	min-height: 36px;
	border: 1px solid #c8c6c6;
	outline: none;
	width: 100%;
	margin: 5px 0 27px;
}
.ba-reserv-form__field:focus {
	border: 1px solid #c89f2d;
}
.ba-reserv__button {
	background-color: #C89F2D;
	padding: 0 63px;
	line-height: 34px;
	min-height: 34px;
	font: 16px/34px 'Open Sans', sans-serif;
	color: #ffffff;
	border: none;
	outline: none;
	margin-top: 4px;
}
@media (max-width: 767px) {
	.ba-reserv__text {
		margin-left: 0;
		max-width: 100%;
	}
}


.ba-footer {
	background: #191919;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	padding: 35px 0 70px 0;
}
.ba-footer__title {
	font: 400 21px/1.14 'Yeseva One', sans-serif;
	color: #fefefe;
	padding-bottom: 34px;
	background: url(../img/footer-div.png) 50% 100% no-repeat;
}
.ba-footer p {
	margin: 0;
}
.ba-footer-cards .fa,
.ba-footer-social .fa {
	margin: 48px 3px 0;
	color: #FFF;
	text-decoration: none;
}
.ba-footer-cards .fa:hover,
.ba-footer-social .fa:hover {
	color: #C89F2D;
}
